---
import Data from "../../DATA/data-es.json";
---

<br />
<section
  class="relative z-10 max-w-4xl md:mx-auto mx-4 mt-10 p-8 shadow-lg rounded-lg ring-8 ring-cyan-800 bg-gradient-to-tl from-stone-800 via-cyan-950 to-stone-800"
>
  <h2
    class="text-center md:text-6xl text-4xl font-bold mb-4 pb-4 bg-gradient-to-r from-cyan-700 via-cyan-400 to-cyan-700 text-transparent bg-clip-text"
  >
    Contáctanos
  </h2>

  <form id="contactForm" class="space-y-6">
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label for="cliNombre" class="block text-lg font-medium text-orange-300"
          >{Data.Contacto.nombre}</label
        >
        <input
          type="text"
          name="nombre"
          placeholder="Tu nombre"
          class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
      <div>
        <label for="cliApellido" class="block text-lg font-medium text-orange-300"
          >{Data.Contacto.apellido}</label
        >
        <input
          type="text"
          name="apellido"
          placeholder="Tu apellido"
          class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
    </div>


    <div>
      <label for="cliEmail" class="block text-lg font-medium text-orange-300"
        >{Data.Contacto.correo}</label
      >
      <input
        type="email"
        name="email"
        placeholder="tucorreo@ejemplo.com"
        class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>

  
    <div>
      <label for="cliEmpresa" class="block text-lg font-medium text-orange-300"
        >{Data.Contacto.empresa}</label
      >
      <input
        type="text"
        name="empresa"
        placeholder="Nombre de tu empresa"
        class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>

  
    <div>
      <label for="cliMensaje" class="block text-lg font-medium text-orange-300"
        >{Data.Contacto.mensaje}</label
      >
      <textarea
        name="mensaje"
        rows="5"
        placeholder="Escribí tu mensaje aquí..."
        class="mt-1 w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
      ></textarea>
    </div>


    <div class="flex justify-center">
      <button
        type="submit"
        class="px-6 py-3 bg-orange-600 text-orange-100 rounded-lg hover:bg-cyan-400 hover:text-black transition-colors duration-300"
      >
        {Data.Contacto.boton}
      </button>
    </div>
  </form>
</section>

<script src="../../scripts/mailer.js"></script>
